
body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  background: url(../sitepics/bg.png);
  overflow-x: hidden;
}

img {
   padding:1px;
   border:1px solid #859CE6;
}

p {
  font-family: 'Inconsolata', sans-serif;
  /* color: #E18728; */
  color: #859CE6;
}

#Content {
  width:800px;
  margin: 0px auto; /* Right and left margin widths set to "auto" */
  text-align:left; /* Counteract to IE5/Win Hack */
  padding:0px; 
  border: 0px;
  font-family: 'Inconsolata', sans-serif;
  color: #859CE6;
}

#Footer {
  text-align: right;
}
