| About usage.
br
p
  | To delete a picture, open <a href="https://213.135.5.234:1919/ipd/picture/delete/">https://213.135.5.234:1919/ipd/picture/delete/</a> and append the filename after the trailing slash.
