a:link {
  color: #859CE6;
  text-decoration: none;
  border-bottom:1px #859CE6 solid;
  padding-bottom: 1px;
}

a:visited {
  color: #859CE6;
  text-decoration: none;
  border-bottom:1px #859CE6 solid;
  padding-bottom: 1px;
}

a:hover {
  color: #E18728;
  text-decoration: none;
  border-bottom:1px #859CE6 solid;
  padding-bottom: 1px;
}

a:active {
  color: #E18728;
  text-decoration: none;
  border-bottom:1px #859CE6 solid;
  padding-bottom: 1px;
}

a:link#landing {
  color: #859CE6;
  text-decoration: none;
  border-bottom: none;
}

a:visited#landing {
  color: #859CE6;
  text-decoration: none;
  border-bottom: none;
}

a:hover#landing {
  color: #E18728;
  text-decoration: none;
  border-bottom: none;
}

a:active#landing {
  color: #E18728;
  text-decoration: none;
  border-bottom: none;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  background: url(../sitepics/bg.png);
  overflow-x: hidden;
}

img {
  padding: 1px;
  border: 1px solid #859CE6;
}

#Content {
  width: 800px;
  margin: 0px auto; /* Right and left margin widths set to "auto" */
  text-align: left; /* Counteract to IE5/Win Hack */
  padding: 0px; 
  border: 0px;
  font-family: 'Inconsolata', sans-serif;
  color: #859CE6;
  /* color: #E18728; */
}
